/AbstractWeatherForecaster.java
/CurrentWeatherFromWeatherForecaster.java
/CurrentWeatherIndices.java
/IsAliveFromWeatherForecaster.java
/WeatherForecastsFromWeatherForecaster.java
/WeatherForecastsIndices.java
