/AbstractCommunicationService.java
/IsAliveFromCommunicationService.java
/LastMessageReceivedFromCommunicationService.java
/MessagesReceivedFromCommunicationService.java
/MessagesReceivedIndices.java
